In [13]:
import pandas as pd  #Necessary packages
import numpy as np

In [14]:
data_raw = pd.read_csv('data_raw.csv')  #importing the dataset
data_raw

    Unnamed: 0  Followers  Likes  Time image_type
0            0       1600    139    11   envelope
1            1        880     23     2   envelope
2            2        255     25     2   envelope
3            3        340     49     3   envelope
4            4        304     30     3   envelope
..         ...        ...    ...   ...        ...
95          95        614     31     3        bib
96          96        450     42     3        bib
97          97        182     10     3        bib
98          98       2039    222     3        bib
99          99        741    109     3        bib

[100 rows x 5 columns]

In [16]:
data_raw = data_raw.drop(['Unnamed: 0'],axis=1) # Dropping the non-numeric columns
data_raw

    Followers  Likes  Time image_type
0        1600    139    11   envelope
1         880     23     2   envelope
2         255     25     2   envelope
3         340     49     3   envelope
4         304     30     3   envelope
..        ...    ...   ...        ...
95        614     31     3        bib
96        450     42     3        bib
97        182     10     3        bib
98       2039    222     3        bib
99        741    109     3        bib

[100 rows x 4 columns]

In [21]:
df = pd.get_dummies(data_raw, columns=['image_type'], prefix='', prefix_sep='')
df

    Followers  Likes  Time    bib  envelope  pillow
0        1600    139    11  False      True   False
1         880     23     2  False      True   False
2         255     25     2  False      True   False
3         340     49     3  False      True   False
4         304     30     3  False      True   False
..        ...    ...   ...    ...       ...     ...
95        614     31     3   True     False   False
96        450     42     3   True     False   False
97        182     10     3   True     False   False
98       2039    222     3   True     False   False
99        741    109     3   True     False   False

[100 rows x 6 columns]

In [17]:
from sklearn.linear_model import LinearRegression     #Importing Linear regression model
from sklearn.model_selection import train_test_split #Importing train test split
from sklearn.metrics import mean_squared_error

In [25]:
X = df.loc[:,['Followers','Time','envelope', 'pillow']] #Defining X
y = df.Likes

In [26]:
X

    Followers  Time  envelope  pillow
0        1600    11      True   False
1         880     2      True   False
2         255     2      True   False
3         340     3      True   False
4         304     3      True   False
..        ...   ...       ...     ...
95        614     3     False   False
96        450     3     False   False
97        182     3     False   False
98       2039     3     False   False
99        741     3     False   False

[100 rows x 4 columns]

In [27]:
y

0     139
1      23
2      25
3      49
4      30
     ...
95     31
96     42
97     10
98    222
99    109
Name: Likes, Length: 100, dtype: int64

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)   #Test size is defined as 20%

In [34]:
model = LinearRegression()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [35]:
mean_squared_error(y_predict,y_test,squared=False).round(2)  #MSE value rounded of 2 decimal places

20.87

In [31]:
y_predict

array([ 57.97936884,  44.50961416,  44.44430418,  44.42632027,
        45.43545268,  32.42665392,  57.42376078, 188.03233516,
        30.86540776,  37.2727887 ,  37.6665416 ,  47.49035065,
        45.01425065,  39.47861593,  33.00876458,  91.1437211 ,
        31.20426242,  32.187184  ,  31.01779771,  45.19205609])

In [32]:
y_test

49     20
38     18
37     24
41      8
17     46
26     25
52     17
55    349
65     29
98    222
85     24
19     34
18     30
15     53
1      23
0     139
73     10
31     19
67     41
43     81
Name: Likes, dtype: int64

In [44]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import joblib  # Importing joblib directly

data_raw = pd.read_csv('data_raw.csv')
data_raw = data_raw.drop(['Unnamed: 0', 'shares','saves'], axis=1)

df = pd.get_dummies(data_raw, columns=['image_type'], prefix='', prefix_sep='')

X = df[['Followers', 'Time', 'envelope', 'pillow']]
y = df['Likes']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = LinearRegression()
model.fit(X_train, y_train)

# Save the model
joblib.dump(model, 'linear_regression_model_likes.pkl')

# Load the model from the file
loaded_model = joblib.load('linear_regression_model_likes.pkl')

# Example of using the loaded model for prediction
# Assuming Followers=1000, Time=10, envelope=0, pillow=1
input_data = pd.DataFrame([[1000, 10, True, False]], columns=['Followers', 'Time', 'envelope', 'pillow'])
predicted_likes = loaded_model.predict(input_data)
print("Predicted likes:", predicted_likes[0])

Predicted likes: 88.52071055295795

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import joblib  # Importing joblib directly

data_raw = pd.read_csv('data_raw.csv')
data_raw = data_raw.drop(['Unnamed: 0', 'Likes','saves'], axis=1)

df = pd.get_dummies(data_raw, columns=['image_type'], prefix='', prefix_sep='')

X = df[['Followers', 'Time', 'envelope', 'pillow']]
y = df['shares']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = LinearRegression()
model.fit(X_train, y_train)

# Save the model
joblib.dump(model, 'linear_regression_model_shares.pkl')

# Load the model from the file
loaded_model = joblib.load('linear_regression_model_shares.pkl')

# Example of using the loaded model for prediction
# Assuming Followers=1000, Time=10, envelope=0, pillow=1
input_data = pd.DataFrame([[1000, 10, True, False]], columns=['Followers', 'Time', 'envelope', 'pillow'])
predicted_likes = loaded_model.predict(input_data)
print("Predicted likes:", predicted_likes[0])

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import joblib  # Importing joblib directly

data_raw = pd.read_csv('data_raw.csv')
data_raw = data_raw.drop(['Unnamed: 0', 'shares','saves'], axis=1)

df = pd.get_dummies(data_raw, columns=['image_type'], prefix='', prefix_sep='')

X = df[['Followers', 'Time', 'envelope', 'pillow']]
y = df['Likes']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = LinearRegression()
model.fit(X_train, y_train)

# Save the model
joblib.dump(model, 'linear_regression_model_saves.pkl')

# Load the model from the file
loaded_model = joblib.load('linear_regression_model_saves.pkl')

# Example of using the loaded model for prediction
# Assuming Followers=1000, Time=10, envelope=0, pillow=1
input_data = pd.DataFrame([[1000, 10, True, False]], columns=['Followers', 'Time', 'envelope', 'pillow'])
predicted_likes = loaded_model.predict(input_data)
print("Predicted likes:", predicted_likes[0])